<div>
  <div class="modal-head">
    <div>
      <h1 class="head-text">General</h1>
    </div>
    <div>
      <span class="font-italic text-muted" *ngIf="admin">
        Admin
      </span>
      <span mat-dialog-close class="close-b">&times;</span>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <p class="sub-heading">Customize your dashboard !!</p>
    <a
      mat-dialog-close
      type="button"
      data-toggle="modal"
      data-target="#exampleModalCenter"
      class="font-italic text-muted change-image"
      *ngIf="ui"
    >
      Change background
    </a>
  </div>
</div>
<div>
  <div class="items">
    <span class="sub-heading">
      Greetings
    </span>
    <span>
      <label class="switch">
        <input
          type="checkbox"
          [checked]="greetings"
          (click)="toggle('greetings')"
        />
        <span class="slider round"></span>
      </label>
    </span>
  </div>

  <div class="items">
    <span class="sub-heading">
      Question
    </span>
    <span>
      <label class="switch">
        <input
          type="checkbox"
          [checked]="question"
          (click)="toggle('question')"
        />
        <span class="slider round"></span>
      </label>
    </span>
  </div>

  <div class="items">
    <span class="sub-heading">
      Quote
    </span>
    <span>
      <label class="switch">
        <input
          type="checkbox"
          #greet
          [checked]="quote"
          (click)="toggle('quote')"
        />
        <span class="slider round"></span>
      </label>
    </span>
  </div>

  <div class="items">
    <span class="sub-heading">
      Date and Time
    </span>
    <span>
      <label class="switch">
        <input
          type="checkbox"
          [checked]="dateAndTime"
          (click)="toggle('dateAndTime')"
        />
        <span class="slider round"></span>
      </label>
    </span>
  </div>

  <div class="items">
    <span class="sub-heading">
      Temp and Location
    </span>
    <span>
      <label class="switch">
        <input
          type="checkbox"
          [checked]="tempAndLocation"
          (click)="toggle('tempAndLocation')"
        />
        <span class="slider round"></span>
      </label>
    </span>
  </div>
</div>

<div *ngIf="auth.user$ | async; then authenticated; else guest">
  <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>
  <div class="profile">
    <div>
      <i class="material-icons show">account_circle</i>
      <span class="user">Profile Name</span>
    </div>
    <div class="material-icons logout" (click)="auth.googleSignin()">login</div>
  </div>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user$ | async as user" class="profile">
    <div>
      <img
        [src]="user.profilePhotoURL"
        style="height: 45px; border-radius: 50%;"
      />
      <span class="user">{{ user.name }}</span>
    </div>
    <div class="material-icons logout" (click)="auth.signOut()">logout</div>
  </div>
</ng-template>
<div class="cone"></div>
<div class="promo-holder">
  <span class="promo text-muted">
    Powered by
  </span>
  <span
    ><img
      src="../../assets/logo/nettantra-logo.png"
      alt="logo"
      class="promo-logo"
  /></span>
</div>
