header {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.sub-head-1 {
  position: fixed;
  top: 0;
  padding: 20px 20px;
  height: 40px;
}
.sub-head-2 {
  position: fixed;
  right: 0;
  padding: 20px 20px;
  height: 40px;
}

.header-text {
  color: white;
  font-size: 15px;
  font-weight: 400;
}

.header-temp {
  color: white;
  font-size: 25px;
  font-weight: 400;
  float: right;
}

.header-location {
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.main-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100vh;
  padding-top: 50vh;
}
.body-content {
  display: flex;
}

.body-htext {
  color: white;
  font-size: calc(2rem + 3vh);
}

.body-btext {
  display: flex;
  text-align: center;
  margin-top: 2.5rem;
  color: white;
  font-size: x-large;
}

.add-body-btext {
  height: 30px;
  text-align: center;
  margin-top: 2%;
  color: white;
  font-size: x-large;
}

.inp {
  border: 0;
  outline: 0;
  background-color: transparent;
  border-bottom: 2px solid white;
  text-align: center;
  color: white;
  font-size: x-large;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 200;
}

.footer-content {
  margin: 55px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
}

.quote {
  color: white;
  margin-right: 0.8rem;
}

.close-btn {
  margin-left: 20px;
  font-weight: bold;
  color: white;
  visibility: hidden;
}

.close-btn:hover {
  cursor: pointer;
  color: maroon;
  transition: ease-in-out 0.3s;
}

.show {
  font-size: 25px;
}

.show:hover {
  cursor: pointer;
}
.close:focus {
  outline: none;
}
.question {
  margin-right: 1rem;
}

.saveQuestion {
  font-weight: normal !important;
  font-size: 1rem;
  cursor: pointer;
}
.saveQuote {
  font-weight: normal !important;
  font-size: 0.8rem;
  cursor: pointer;
}

.body-btext:hover .close-btn {
  visibility: visible;
}

[contenteditable]:focus {
  outline: none;
  outline: 0;
  background-color: transparent;
  text-align: center;
  color: white;
}
@media (max-width: 576px) {
  .quote {
    display: none;
  }
  .body-htext {
    color: white;
    font-size: calc(1rem + 3vh);
  }
  .body-btext {
    font-weight: normal;
    margin: 25px 0 0 0;
    font-size: 25px;
    line-height: 1;
  }

  .main-card {
  }
  .inp {
    margin-top: 10%;
  }

  .show {
    font-size: 2rem;
  }
  .footer-content {
    margin: 0px;
  }
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
