<!--date time, temp, location-->
<header>
  <div class="sub-head-1 header-text" *ngIf="dateAndTime">
    <div>Time: {{ now | date: "h:mm aa" }}</div>
    <div>Date: {{ now | date }}</div>
  </div>
  <div class="sub-head-2" *ngIf="tempAndLocation">
    <div class="header-temp">
      <span class="mr-2">
        <mat-icon aria-hidden="false" aria-label="Example home icon">
          cloud
        </mat-icon>
      </span>
      <!-- <span *ngIf="!clouds" class="mr-2">
        <mat-icon aria-hidden="false" aria-label="Example home icon">
          wb_sunny
        </mat-icon>
      </span> -->
      <span>{{ temp }}</span
      ><sup>o</sup>
    </div>
    <div class="header-location">{{ city }}</div>
  </div>
</header>

<!--body, question, input-->
<div class="main-card">
  <h1 class="body-htext" *ngIf="greetings">
    Good <span>{{ greetingLabel }} {{ name }}</span> !
  </h1>
  <div class="body-btext">
    <div
      *ngIf="question"
      contenteditable="true"
      #que
      (click)="toggleSaveQue()"
      class="question"
    >
      {{ questionLabel }}
    </div>
    <span
      class="saveQuestion badge badge-pill badge-light"
      *ngIf="queSaveBtn"
      (click)="updateQuestion()"
      >save</span
    ><span
      *ngIf="queSaveBtn"
      class="saveQuestion badge badge-pill badge-danger ml-1"
      (click)="cancelEdit()"
      >cancel</span
    >

    <div *ngIf="!question" class="answer">
      {{ answerLabel }}
    </div>
    <div *ngIf="dtag" (click)="deleteAns()" class="close-btn">&times;</div>
  </div>
  <div class="mt-4">
    <input
      [style]="isDisplay"
      type="text"
      class="inp"
      size="30%"
      (keyup.enter)="updateAns($event)"
      *ngIf="question"
    />
  </div>
</div>

<!--settings, fullscreen-->

<footer>
  <div class="footer-content">
    <div class="header-text">
      <span (click)="openModal()">
        <i class="material-icons show">settings</i>
      </span>
    </div>
    <div>
      <span
        class="quote"
        *ngIf="quote"
        contenteditable="true"
        #quo
        (click)="toggleSaveQuo()"
        >"{{ quoteLabel }}"</span
      >
      <span
        *ngIf="quoSaveBtn"
        class="saveQuote badge badge-pill badge-light"
        (click)="updateQuote()"
        >save</span
      >
      <span
        *ngIf="quoSaveBtn"
        class="saveQuote badge badge-pill badge-danger ml-1"
        (click)="cancelEdit()"
        >cancel</span
      >
    </div>
    <div class="header-text">
      <span
        *ngIf="fscreen"
        class="material-icons show"
        (click)="openFullscreen()"
      >
        fullscreen
      </span>
      <span
        *ngIf="!fscreen"
        class="material-icons show"
        (click)="closeFullscreen()"
      >
        close_fullscreen
      </span>
    </div>
  </div>
</footer>

<!--Modal-->

<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
        <div class="modal-header">
          <div class="modal-title" id="exampleModalLongTitle">Upload image</div>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div *ngIf="ubar">
              <div
                class="progress"
                *ngIf="uploadProgress | async as progress; let up"
              >
                <div
                  class="progress-bar progress-bar-striped progress-bar-animated"
                  role="progressbar"
                  area-value="up"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  (change)="handleUpload($event)"
                  [ngStyle]="{ width: progress + '%' }"
                >
                  {{ progress | number }} %
                </div>
                <div class="progress-bar progress-bar-animated"></div>
              </div>
            </div>

            <input
              type="file"
              formControlName="imageUrl"
              id="imageUrl"
              class="form-control"
              accept="image/*"
              (change)="uploadImage($event)"
              *ngIf="!ubar"
            />
          </div>
        </div>
        <div class="modal-footer">
          <!-- <button
            type="button"
            class="btn btn-secondary"
            (click)="cancel()"
            [disabled]="canBtn"
          >
            Cancel
          </button> -->
          <button type="submit" class="btn btn-primary" [disabled]="subBtn">
            Upload
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
