<!--date time, temp, location-->
<header>
  <div class="sub-head header-text" *ngIf="dataAndTimeCheck">
    <div>Time: {{ now | date: "h:mm aa" }}</div>
    <div>Date: {{ now | date }}</div>
  </div>
  <div class="sub-head" *ngIf="tempAndLocationCheck">
    <div class="header-temp">
      <span *ngIf="clouds" class="mr-2">
        <mat-icon aria-hidden="false" aria-label="Example home icon">
          cloud
        </mat-icon>
      </span>
      <span *ngIf="!clouds" class="mr-2">
        <mat-icon aria-hidden="false" aria-label="Example home icon">
          wb_sunny
        </mat-icon>
      </span>
      <span>{{ temp }}</span
      ><sup>o</sup>
    </div>
    <div class="header-location">{{ city }}</div>
  </div>
</header>

<!--body, question, input-->
<div class="main-card">
  <h1 class="body-htext" *ngIf="greetCheck">
    Good morning, Sid!
  </h1>
  <div class="body-btext">
    <span *ngIf="questionCheck">
      {{ question }}
    </span>
    <span *ngIf="!questionCheck" class="answer" (mouseover)="toggleClose()">
      {{ answer }}
    </span>
    <span *ngIf="dtag" (click)="toggleInput()" class="close">&times;</span>
  </div>
  <div class="mt-4">
    <input
      [style]="isDisplay"
      type="text"
      class="inp"
      size="30%"
      (keyup.enter)="getVal($event)"
      *ngIf="questionCheck"
    />
  </div>
</div>

<!--settings, fullscreen-->

<footer>
  <div class="footer-content">
    <div class="header-text">
      <span (click)="openModal()">
        <i class="material-icons show">settings</i>
      </span>
    </div>
    <div class="quote" *ngIf="quoteCheck">
      "Feelings are just visitors. Let them come and go."
    </div>
    <div class="header-text">
      <span class="material-icons show" (click)="openFullscreen()">
        fullscreen
      </span>
    </div>
  </div>
</footer>
